/* CUSTOM-PROPS */
:root {
  /* COLORS  */
  --black: #3d3f42;
  --gray: #b2b7bc;
  --light-gray: #fafafa;
  --blue: #0075eb;
  --red: #ff542e;
  --scroll-color: #ced5db;
  --white: #fff;

  /* SHADOWS  */
  --box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

  /* TRANSITIONS  */
  --ts: 0.3s;

  /* BORDER-RADIUS  */
  --br: 0.5rem;
}

/* FONT-FACE  */

/* LOADER  */
.loader-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: var(--white);
  transition: opacity 0.3s ease;
}

.loader-wrapper--none {
  opacity: 0;
  pointer-events: none;
}

.loader {
  width: 4.8rem;
  height: 4.8rem;
  border: 0.5rem dotted var(--black);
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* GLOBAL-STYLES  */
html {
  font-size: 62.5%;
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* CUSTOM SCROLLBAR */
::-webkit-scrollbar {
  width: 17px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 0.6rem solid transparent;
  background-clip: content-box;
  height: 88px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

/* NUMBER INPUT */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--white);
  color: var(--black);
  font-family: "Jost", "Arial", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

/* FOCUS-STYLES  */
*:focus {
  outline: none;
}

* {
  user-select: none;
}

/* CONTAINER  */
.container {
  max-width: 120rem;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: auto;
  margin-right: auto;
}

/* VISUALLY-HIDDEN  */
.visually-hidden {
  position: absolute;
  width: 0.1rem;
  height: 0.1rem;
  margin: -0.1rem;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* MAIN-CONTENT  */
.main-content {
  flex-grow: 1;
}

.section-exchange__container {
  padding-top: 5rem;
}

.section-exchange__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 5rem auto;
  width: 100%;
  max-width: 80%;
  text-align: center;
}

.section-exchange__title {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 4rem;
  font-weight: 400;
}

.section-exchange__title > br {
  display: none;
}

.section-exchange__text {
  margin: 0;
  font-size: 2rem;
}

.exchanger__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.exchanger__swipper {
  display: block;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  transform: translateY(25%);
  transition: transform 0.3s ease;
}

.exchanger__swipper--rotate {
  transform: rotateY(180deg) translateY(25%);
}

.swipper__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: background-color 0.3s ease, opacity 0.3s ease;
}

.exchanger__swipper:hover > .swipper__inner {
  background-color: var(--light-gray);
}

.exchanger__swipper:active > .swipper__inner {
  opacity: 0.8;
}

.swipper__img {
  display: block;
  width: 24px;
  height: 24px;
  object-fit: cover;
  object-position: center;
}

.exchanger__select-area {
  display: flex;
  flex-direction: column;
  width: 40%;
  position: relative;
}

.select-rate__selected-zone {
  position: relative;
  display: flex;
  align-items: center;
  padding: 1.5rem 0;
  border-bottom: 1px solid var(--gray);
  user-select: none;
  cursor: pointer;
  transition: opacity var(--ts) ease;
  margin-bottom: 10rem;
}

.select-rate__selected-zone:before {
  position: absolute;
  bottom: 0;
  content: "";
  height: 2px;
  width: 0;
  background-color: var(--blue);
  transition: width var(--ts) ease;
}

.select-rate__selected-zone.select-rate__selected-zone--active:before {
  width: 100%;
}

.select-rate__selected-zone:hover {
  opacity: 0.8;
}

.select-rate__country-name {
  margin-right: auto;
  padding-right: 2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  pointer-events: none;
}

.select-rate__country-flag {
  display: block;
  width: 32;
  height: 32px;
  margin-right: 1.5rem;
  border-radius: 50%;
  pointer-events: none;
}

.select-rate__arrow-down-icon {
  display: block;
  width: 12px;
  height: 12px;
  transition: transform var(--ts) ease;
  pointer-events: none;
}

.select-rate__search-list-wrapper {
  position: absolute;
  top: 6.5rem;
  left: 0;
  right: 0;
  background-color: var(--white);
  box-shadow: var(--box-shadow);
  border-radius: var(--br);
  transform: scale(0) translateY(100%);
  transition: transform var(--ts) ease;
}

.select-rate__search-wrapper {
  position: relative;
}

.select-rate__search {
  display: block;
  width: 100%;
  padding: 1.5rem 1.5rem 1.5rem 5.4rem;
  border: 0;
}

.select-rate__search-icon {
  position: absolute;
  top: 50%;
  left: 2rem;
  display: block;
  width: 20px;
  height: 20px;
  transform: translateY(-50%);
}

.select-rate__list-wrapper {
  position: relative;
  padding-bottom: 2.5rem;
  z-index: 10;
}

.select-rate__no-data {
  position: absolute;
  left: 50%;
  top: 2.2rem;
  transform: translate(-50%, -50%);
}

.select-rate__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
  height: 25rem;
  overflow-y: scroll;
}

.select-rate__option {
  position: relative;
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  transition: background-color var(--ts) ease;
  cursor: pointer;
  color: var(--black);
  background-color: var(--white);
  z-index: 10;
}

.select-rate__option--hidden {
  display: none;
}

.select-rate__option:hover {
  background-color: var(--light-gray);
}

.select-rate__flag {
  display: block;
  width: 24px;
  height: 24px;
  pointer-events: none;
}

.select-rate__rate {
  margin-right: auto;
  margin-left: 2rem;
  padding-right: 1.5rem;
  pointer-events: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.select-rate__country-code {
  text-transform: uppercase;
  color: var(--gray);
  pointer-events: none;
}

.select-rate__selected-zone--active + .select-rate__search-list-wrapper {
  transform: scale(1) translateY(0);
}

.select-rate__selected-zone--active > .select-rate__arrow-down-icon {
  transform: rotateX(180deg);
}

/* SELECT RATE INPUT  */
.select-rate__input {
  padding: 2.5rem;
  border: none;
  font-size: 12rem;
  caret-color: var(--blue);
}

.select-rate__input--to {
  pointer-events: none;
}

/* 404 */
.section-error__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 15rem;
}

.section-error__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.section-error__title {
  font-size: 4rem;
  margin-top: 0;
  margin-bottom: 2rem;
}
.section-error__descrption {
  margin-top: 0;
  font-size: 2rem;
}

.section-error__404 {
  display: block;
  font-size: 20rem;
}

/* RESPONSIVE ==> 850 */
@media only screen and (max-width: 850px) {
  body {
    font-size: 1.4rem;
  }
  .section-exchange__content {
    margin: 0 auto 2rem auto;
    max-width: 60%;
  }

  .section-exchange__title {
    font-size: 2.4rem;
    font-weight: 400;
  }

  .section-exchange__title > br {
    display: block;
  }

  .section-exchange__text {
    font-size: 1.6rem;
  }

  .select-rate__selected-zone {
    padding: 1rem 0;
  }

  .select-rate__country-flag {
    width: 24px;
    height: 24px;
    margin-right: 1rem;
  }

  .select-rate__arrow-down-icon {
    width: 8px;
    height: 8px;
  }

  .select-rate__search {
    padding: 1rem 1rem 1rem 3.4rem;
  }

  .select-rate__search-icon {
    left: 1rem;
    width: 12px;
    height: 12px;
  }

  .select-rate__list-wrapper {
    padding-bottom: 1.5rem;
  }

  .select-rate__list {
    height: 20rem;
  }

  .select-rate__option {
    padding: 0.5rem 1rem;
  }

  .select-rate__flag {
    width: 20px;
    height: 20px;
  }

  .select-rate__rate {
    margin-left: 1rem;
    padding-right: 1rem;
  }

  .exchanger__swipper {
    transform: translateY(40%);
  }

  .swipper__inner {
    width: 30px;
    height: 30px;
  }

  .swipper__img {
    width: 15px;
    height: 15px;
  }
}

/* ANIMATIONS */
@keyframes slide-in {
  100% {
    transform: translateY(10%);
  }

  0% {
    transform: translateY(0);
  }
}

@keyframes slide-out {
  100% {
    transform: translateY(0);
  }

  0% {
    transform: translateY(10%);
  }
}
